*{
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.025rem;
}

.mission-vision{
  position: absolute;
  bottom: 10%;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  
  z-index: 1;
}
.mission-vision h1{
  font-size: 3rem;
  color: white;
}
.mission-vision p{
  font-size: 1.2rem;
  color: white;
}

.mission{
  padding-top: 2rem;
  padding-bottom: 8px;
}
.problem-page{
  display: flex;
  flex-direction: row;
  height: fit-content;
  padding-top: 4rem;
  padding-bottom: 4rem;
 padding-left: 8rem;
 padding-right: 8rem;
 gap: 30px;
 width: 100%;
}

.problem-image{
background-image: url(images/African-storytelling.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 500px;
width: 100%;
}

.problem-text{
height: 500px;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
padding-right: 0.5rem;
}

.problem-text h1{
  font-size: 1.5rem;
}

.problem-text-p{
  font-size: 1rem;
  padding-top: 1rem;
}

.problems{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 1.2rem;
  height: 230px;
  overflow-y: auto;
 
  scroll-behavior: smooth;
}

.problems::-webkit-scrollbar{
width: 3px;
}

.problems::-webkit-scrollbar-track{
background-color: transparent;
}

.problems::-webkit-scrollbar-thumb{
 background: rgb(181, 161, 145);
}



.problem1{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.problem1 span{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px solid #EA580C;

}

.text2{
  display: flex;
  flex-direction: column;
  }

.problem1 h1{
  font-size: 1rem;
}

.problem1 p{
  font-size: 0.875rem;
}

.our-solution{
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 6rem;
  padding-left: 3rem;
  padding-right: 3rem;
  align-items: center;
  background-color: rgb(242, 239, 235);
}
.our-solution h1{
  font-size: 1.5rem;
  font-weight: 400;

}

.our-solution p{
  font-size: 1rem;
  padding-top: 1rem;
}
.solution-box{
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 4rem;
  align-items: center;
  width: 100%;
}
.chev-prev2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chev-next2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.solutions{
  display: flex;
  flex-direction: row;
  gap: 20px;
  
}

.solution1{
  background-image: url(images/explore-identity.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}


.solutions-carousel{
  width: 100%;
  overflow: hidden;
}

.solutions-wrapper{
  display: flex;
  flex-direction: row;
  transition: transform 0.5s ease-in-out;
  width: 200%; /* 2 slides */
}

.solutions-slide{
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 50%; /* Each slide takes half of wrapper */
  flex-shrink: 0;
}

.solution1{
  flex: 1;
  background-image: url(images/explore-identity.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
  display: flex;
  align-items: flex-end;
}

/* Optional: Add overlay and content styling */
.solution1::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, transparent 50%);
}

.solution-content{
  position: relative;
  z-index: 1;
  padding: 1rem;
  color: white;
}

.solution-content h2{
  font-size: 1.1rem;
  font-weight: 600;
}

.solution-content p{
  font-size: 0.875rem;
  padding-top: 0.5rem;
}

/* Different images for variety */
.solutions-slide:first-child .solution1:nth-child(1){
  background-image: url(images/explore-identity.jpg);
}
.solutions-slide:first-child .solution1:nth-child(2){
  background-image: url(images/African-storytelling.jpg);
}
.solutions-slide:first-child .solution1:nth-child(3){
  background-image: url(images/drums.jpg);
}
.solutions-slide:last-child .solution1:nth-child(1){
  background-image: url(images/hammer.jpg);
}
.solutions-slide:last-child .solution1:nth-child(2){
  background-image: url(images/Igbo.jpg);
}
.solutions-slide:last-child .solution1:nth-child(3){
  background-image: url(images/maasai-land.jpg);
}

/* Responsive */
@media screen and (max-width: 768px) {
  .our-solution{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .solution-box{
    gap: 15px;
  }
  
  .solutions-slide{
    flex-direction: column;
    gap: 15px;
  }
  
  .solution1{
    flex: none;
    height: 200px;
    width: 100%;
  }
}


@media screen and (min-width:1440px) {
  .problem-page{
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .problem-image{
    height: 700px;
  }
  .problem-text{
    height: 700px;
  }
  .problems{
    height: 300px;
    margin-top: 2rem;
    gap: 30px;
  }
  .problem1 span{
    width: 60px;
    height:60px ;
  }

  .our-solution{
     padding-top: 4rem;
  }
 .solution1{
  height: 500px;
 }
}