*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.025rem;
  line-height: 1.5rem;
  
}

.contact-page{

  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.contact-section{
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.contact1{
width: 60%;
height: 300px;
display: flex;
flex-direction: column;
gap: 20px;
justify-content: center;
padding-right: 4rem;

}

.contact1 h1{
  font-size: 1.5rem;
  font-weight: 400;
 

}



.contact2{
width: 40%;
border-left: 0.5px solid rgb(217, 219, 223);
height: 300px;
display: flex;
flex-direction: column;
align-items: center;
gap: 30px;
justify-content: center;
}

.contact1 button{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  max-width: 150px;
  border:1px solid rgb(181, 161, 145);
  font-weight: 600;
  background-color: transparent;
}

.contact1 button:hover{
  background-color: rgb(181, 161, 145);
  color: white;

}

.contact2 img{
  width: 120px;
  height: 110px;
}
.contact2 a{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  color: black;
  text-decoration: none;
}

.contact-links{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.contact2 a i{
  color: rgb(181, 161, 145);
}

@media screen and (min-width:1440px) {
  .contact-page{
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (max-width:768px) {
  .contact-section{
    flex-direction: column;
    gap: 60px;
  }

  .contact-page{
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .contact1{
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    padding-right: 0rem;
  }

  .contact1 p{
    text-align: center;
  }

  .contact2{
    height: fit-content;
    width: 100%;
    border: none;
    justify-content: flex-start;
    
  }
}

