*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.025rem;
  line-height: 1.5rem;
  
}

.contribute-story{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;

}

.contribute-text{
   
  border:1px solid #e5e3e3;
  width: 100%;
  max-width: 600px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.contribute-text h1{
  font-size: 1.5rem;
  color: black;
}

.contribute-text p{
  text-align: center;
}

.contribute-btn{
  border: none;
  background-color: #1f6f43;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: 600;
}

@media screen and (min-width:1440px) {
  .contribute-story{
    padding-bottom: 6rem;
  }
.contribute-text{
  max-width: 800px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}


}

@media screen and (max-width:480px) {
  .contribute-text{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .contribute-text{
    border-bottom: none;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .contribute-story{
    padding-bottom: 0rem;
  }
}