*{
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.025rem;
}

.culture-traditions{
 height: fit-content;
 display: flex;
 flex-direction: column;

 padding-top: 6rem;
}

.culture1{
  background-image: url(images/maasai-migration.jpg);
  height: 80vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  padding-left: 3rem;
  padding-right: 3rem;
}


.culture1 h1{
  font-size: 2rem;
  color: white;
  font-weight: 600;
  align-self: self-start ;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.culture1 p{
  color: white;
  font-size: 1rem;
  width: 60%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.ceremonies{
  padding-top: 2rem;
}

.ceremonies-div{
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
  width: 100%;
  gap: 20px
  
  
}

.ceremonies-div1{
  width: 100%;
  max-width: 300px;
}

.ceremonies-div2{
  width: 100%;
  max-width:1100px;

  display: flex;
  flex-direction: row;
  gap: 30px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  padding-bottom: 2rem;

}

.ceremonies-div2::-webkit-scrollbar{
height: 3px;
}

.ceremonies-div2::-webkit-scrollbar-track{
  background-color: transparent;
}

.ceremonies-div2::-webkit-scrollbar-thumb{
  background-color: rgb(181, 161, 145);
}
.ceremony{
  
  height: 400px;
  width: 100%;
  flex: 0 0 auto; 
  max-width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e3e3;
}

.ceremony-image{
   background-image: url(images/African-storytelling.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1.7;
}

.ceremony-text{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-top: 0.5rem;
 gap: 15px;
}

.ceremony-text h1{
  font-size: 1.2rem;
  align-self: self-start;
}

.ceremony-text p{
  font-size: 0.875rem;
}

.beadwork-meaning button{
  padding: 0.5rem 1rem;
  border: none;
  background-color: #0006;
  color: white;

}

.foods{
  padding-top: 4rem;
}

.foods h1{
  font-size: 1..5rem;
}


.food-section{
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 4rem;
  align-items: center;
  width: 100%;
  padding-left: 8rem;
  padding-right: 8rem;

}

.food1{
  background-image: url(images/beaded-jewelery.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
  height: 300px;
  padding-left: 1rem;
  padding-right: 1rem;
  
}


.food-description h1{
  font-size: 1.2rem;
  color: white;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
   
   text-align: center;
}

.food-description p{
  font-size: 0.875rem;
  color: white;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
   text-align: center;
}

.food-description{
 
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 100%;
   display: none;
}

.food1:hover .food-description{
  display: flex;
}


@media screen and (max-width:768px) {
  .culture1{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .culture1 p{
    width: 100%;
  }

  .ceremonies-div{
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .food-section{
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .food1{
    height: 100%;
    min-height: 300px;
    flex: none;
    width: 100%;
  }
}

@media screen and (min-width:1440px) {
  .ceremony{
    height: 500px;
    max-width: 400px;
  }
  .ceremonies-div1{
    width: 30%;
    max-width: 100%;
  }
  .ceremonies-div2{
    width: 70%;
    max-width: 100%;
  }
  .food1{
    height: 500px;
  }
}

@media screen and (max-width:480px) {
  .culture1 h1{
   line-height: 1.7rem;
   text-align: start;
  }
}