*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.025rem;
  line-height: 1.5rem;
  
}

.footer{
  background-color: #1E1E1E;
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
}
.footer-section{
  
 display: flex;
  flex-direction: row;
 gap: 30px;
 padding-bottom: 1.5rem;
}
.link1{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.link1 a{
  font-size: 1rem;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.link1 p{
  color: white;
  font-size: 0.8rem;
}



.link2{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.link2 h3{
  font-size: 0.875rem;
  color: white;
  font-weight: 400;
}

.link2-a{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.link2-a a{
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
}
.link3{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.link3 p{
  color: white;
  font-weight: 400;
  font-size: 0.8rem;
}

.footer-hr{
  width: 100%;
  margin-bottom: 1.5rem;
  height: 0.5px;
  background-color: #6E6D6D;
  border: none;
}

.copyright{
  color: white;
  font-size: 0.8rem;
  font-weight: 400;
}

.footer-icons{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.footer-icons span{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0.5px solid #6E6D6D;
}
.footer-icons span i{
  color: white;
}


@media screen and (max-width:768px) {
  .footer-section{
    flex-direction: column;
    gap: 40px;
  }
}