*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.025rem;
  line-height: 1.5rem;
  }

.hero-section{
  height: 100vh;
  background-image: url(images/maasai-women.jpg) !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.Tribe-name{
  display: flex;
  flex-direction: column;
  gap: 30px;
  
  z-index: 1;
  color: white;
 
  align-items: center;
}

.Tribe-name h1{
  font-size: 4rem;

}

.Tribe-name p{
  font-size: 1.5rem;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.location-page{
  height: fit-content;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding-bottom: 3rem;
}
.location-page-icons{
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.location-page h1{
  font-size: 1.5rem;
  font-weight: 400;
}

.location-page h1 span{
  color: rgb(181, 161, 145);
}
.page-icon{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 1rem 3rem;
  align-items: center;
  border: 1px solid #e5e3e3;
  width: 280px;
}

.page-icon i{
 font-size: 2.5rem;
 color: rgb(210, 123, 58);
}

.p-1{
  color: #999;
  font-size: 1rem;
  font-weight: 400;
}
.p-2{
  font-size: 1.3rem;
  font-weight: 400;
}

@media screen and (min-width:1440px) {
  .location-page{
    padding-top: 4rem;
    gap: 5rem;
  }
}

/* Add this to your maasai.css file - Mobile Responsiveness for location-page */

@media screen and (max-width: 1024px) {
  .location-page-icons {
    flex-wrap: wrap;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .page-icon {
    width: 240px;
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 768px) {
  .location-page {
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 2rem;
  }


  .location-page-icons {
    flex-direction: column;
    gap: 20px;
    margin-top: 2rem;
  }

  .page-icon {
    width: 100%;
    max-width: 100%;
    flex-direction: row;
    padding: 2rem 2rem;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
  }

  .page-icon i {
    font-size: 2.5rem;
  }

 
}

@media screen and (max-width:480px) {
   .location-page-icons {
    padding-left: 1rem;
    padding-right: 1rem;
  }

}
/*
@media screen and (max-width: 480px) {
  .location-page {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    gap: 1.5rem;
  }

  .location-page h1 {
    font-size: 1.2rem;
  }

  .location-page-icons {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .page-icon {
    padding: 0.8rem 1rem;
    gap: 15px;
  }

  .page-icon i {
    font-size: 1.8rem;
  }

  .p-1 {
    font-size: 0.8rem;
  }

  .p-2 {
    font-size: 1rem;
  }
}
  */
