*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.025rem;
  line-height: 1.5rem;
  }

.hero-section{
  height: 100vh;
  background-image: url(images/maasai.jpg) !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.Tribe-name{
  display: flex;
  flex-direction: column;
  gap: 30px;
  
  z-index: 1;
  color: white;
 
  align-items: center;
}

.Tribe-name h1{
  font-size: 4rem;

}

.Tribe-name p{
  font-size: 1.5rem;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.location-page{
  height: fit-content;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding-bottom: 3rem;
}
.location-page-icons{
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.location-page h1{
  font-size: 1.5rem;
  font-weight: 400;
}

.location-page h1 span{
  color: rgb(181, 161, 145);
}
.page-icon{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 1rem 3rem;
  align-items: center;
  border: 1px solid #e5e3e3;;
  width: 280px;
}

.page-icon i{
 font-size: 2.5rem;
 color: rgb(210, 123, 58);
}

.p-1{
  color: #999;
  font-size: 1rem;
  font-weight: 400;
}
.p-2{
  font-size: 1.3rem;
  font-weight: 400;
}

@media screen and (min-width:1440px) {
  .location-page{
    padding-top: 4rem;
    gap: 5rem;
  }
}

