*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.025rem;
  line-height: 1.5rem;
  
}


.partners{
  padding-left: 120px;
  padding-right: 120px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-bottom: 8rem;
}

.partners-text{
  display: flex;
  flex-direction: column;
  gap: 20px;
 width: 35%;
 justify-content: center;
}

.partners-text h1{
font-size: 1.5rem;
font-weight: 400;
}

.partners-text p{
  font-size: 0.875rem;
}

.partners-text2{
  display: flex;
  flex-direction: column;
  gap: 20px;
 width: 35%;
 justify-content: center;
 display: none;
}


.partners-text2 h1{
font-size: 1.5rem;
font-weight: 400;
}

.partners-text2 p{
  font-size: 0.875rem;
}


.partners-boxes{
  display: flex;
  flex-direction:row ;
  gap: 20px;
  width: 65%;
}

.box1{
   width: 100%;
  height: 200px;
  border: 0.5px solid rgb(181, 161,145);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box1 img{
  width: 50%;
}

.box2{
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  border: 0.5px solid rgb(181, 161,145);
}

@media screen and (min-width:1440px) {
  .partners{
    padding-left: 160px;
    padding-right: 160px;
  }
}

@media screen and (max-width:768px) {
  .partners{
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 6rem;
    gap: 30px;
  }

  .partners-boxes{
    flex-direction: column;
    width: 100%;
  }
  .partners-text2{
    display: flex;
    width: 100%;
  }
  .partners-text{
    display: none;
    
  }
}

@media screen and (max-width:480px) {
  .partners{
    padding-left: 1rem;
    padding-right:1rem ;
  }
}