*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.025rem;
  line-height: 1.5rem;
  
}

.search-section{
  display: flex;
  flex-direction: column;
;align-items: center;
height: fit-content;
padding-top: 4rem;

}

.search-section h1{
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  
}

.search-box{
display: flex;
flex-direction: column;
gap: 20px;
margin-top: 3rem;
border: 1px solid #e5e3e3;
width: 100%;
max-width: 800px;
padding-top: 2rem;
padding-bottom: 2rem;
padding-left: 1rem;
padding-right: 1rem;
}


.search-box input{
  padding: 1rem 5px;
  font-size: 1rem;
  outline: none;
  border: 1px solid #e5e3e3;
}
.search-box input:focus{
  border-color: rgb(181, 161, 145);
}
.search-box input ::placeholder{
  font-size: 0.875rem;
 
  
}



.search-box select{
  padding: 1rem 5px;
  outline: none;
  border: 1px solid #e5e3e3;
  font-size: 1rem;

}

.search-box select:focus{
border-color: rgb(181, 161, 145);
}

.two-buttons{
  display: flex;
  justify-content: space-between;
 gap: 10px;
 align-items: center;
}

.two-buttons button{
  padding: 0.5rem 1rem;
  border: none;
  background-color: #1f6f43;
  color: white;
  font-weight: 600;
}

.two-buttons-text{
display: flex;
flex-direction: row;
font-size: 0.875rem;
}

.two-buttons-text p{
  display: flex;
  flex-direction: row;
  gap: 10px;
  
}
.no-tribes{
  color: #EA580C;
}




@media screen and (min-width:1440px) {
  .search-box{
    max-width: 1200px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    gap: 40px;
  }

  .search-box input{
    padding: 1.5rem 5px;
  }
  
  .search-box select{
    padding: 1.5rem 5px;
  }
  .search-section{
    
  }
}