*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.025rem;
  line-height: 1.5rem;
  
}

.sign-up-form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  display: none;
}

.side1{
width: 100%;
max-width: 600px;
height: 750px;
background-color: white;
background-image: url(images/sky-5177600_1920.jpg);
background-size: cover;
background-repeat: no-repeat;
}

.side1 h1{
color: white;
padding-top: 2rem;
text-align: center;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.side2{
width: 100%;
max-width: 600px;
height:750px;
background-color: white;
padding-top: 1.5rem;
padding-left: 2rem;
padding-right: 2rem;
overflow-y: auto;
}

.side2 h1{
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.side2 h1 i{
  font-size: 0.875rem;
}
form{
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tribe-div{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.color{
  color: #dc271e;
}
.tribe-div label{
  font-size: 1rem;
}

.tribe-div select{
  border: 0.5px solid rgb(217, 219, 223);
  padding: 16px 5px;
  font-size: 0.875rem;
  color: #999;
  outline: none;

}

.tribe-div select:hover{
  border-color: rgb(181, 161,145);
}

.tribe-div select:hover label{
color: rgb(181, 161,145);
}

option{
  padding: 16px 5px;
}

.names-div{
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.firstname{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.firstname input{
  padding: 16px 5px;
  outline: none;
  border: 1px solid rgb(217, 219, 223);
}
.firstname input:focus{
border-color: rgb(181, 161,145);
}

.firstname input:focus

.firstname input::placeholder{
  font-size: 0.875rem;
  color: #999;
}

.secondname{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.secondname input{
  padding: 16px 5px;
  outline: none;
  border: 1px solid rgb(217, 219, 223);
}

.secondname input:focus{
  border-color: rgb(181, 161,145);
}

.secondname input::placeholder{
  font-size:0.875rem;
  color: #999;
}

.email-div{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.email-div input{
  padding: 16px 5px;
  outline: none;
  border: 1px solid rgb(217, 219, 223);
}

.email-div input:focus{
  border-color: rgb(181, 161,145);
}

.email-div input::placeholder{
  font-size: 0.875rem;
  
}

.create-account{
  padding: 16px 5px;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 11rem;
  background-color: black;
  transition: 0.3s ease;
}

.create-account:hover{
  background-color: rgb(32, 31, 31);
}

.where-div{
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.password2{
   display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  position: relative;
}

#toggle-password2{
  position: absolute;
  top: 47px;
  right: 20px;
  color: rgb(181, 161, 145);
}

.password2 input{
  padding: 16px 5px;
  outline: none;
  border: 1px solid rgb(217, 219, 223);
}

.password2 input:focus{
  border-color: rgb(181, 161,145);
}
.password2 input::placeholder{
  font-size: 0.875rem;
}

.country2{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.country2 input{
   padding: 16px 5px;
  outline: none;
  border: 1px solid rgb(217, 219, 223);
}

.country2 input:focus{
  border-color: rgb(181, 161,145);
}

.country2 input::placeholder{
  font-size: 0.875rem;
}


.required3,
.required4,
.required5,
.required6,
.required7 {
  display: none;
  color: #dc271e;
  font-size: 0.875rem;

}


.firstname:focus-within label,
.secondname:focus-within label,
.email-div:focus-within label,
.password2:focus-within label,
.country2:focus-within label,
.tribe-div:focus-within label {
  color: rgb(181, 161, 145);
}



@media screen and (min-width:1025px) and (max-width:1280px) {
  .side1{
height: 550px;
  }

  .side2{
height: 550px;
overflow-y: scroll;
  }

  .side2::-webkit-scrollbar{
    width: 3px;
  }

  .side2::-webkit-scrollbar-track{
    background-color: transparent;
  }

  .side2::-webkit-scrollbar-thumb{
    background-color: rgb(181, 161,145);
  }

  .create-account{
  margin-bottom: 1rem;
  margin-top: 1rem;
  }
}

@media screen and (min-width:769px) and (max-width:1023px) {
   .sign-up-form{
  flex-direction: column;
 } 
.side1{
height: 400px;
max-width: 100%;
}

.side2{
height: 560px;
max-width: 100%;
}
.create-account{
  margin-top: 0rem;
 
}
.auth-overlay{
  padding-left: 2rem;
  padding-right: 2rem;
}
}

@media screen and (max-width:768px) {
 .sign-up-form{
  flex-direction: column;
 } 
 .side1{
  max-width: 100%;
 }

 .side2{
  max-width: 100%;
 }

 .auth-overlay{
  padding-top: 0rem;
 }
 .create-account{
margin-bottom: 1rem;
 }
 }


@media screen and (max-width:480px) {
  .names-div{
    flex-direction: column;
  }
  .where-div{
    flex-direction: column;
  }
 
}