*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.025rem;
  line-height: 1.5rem;
  
}

/* OVERLAY BACKGROUND */
.auth-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
 
  justify-content: center;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  padding-top: 8rem;
  
}



/* SHOW STATE */
.auth-overlay.active {
  opacity: 1;
  visibility: visible;
}

#x-mark1{
  font-size: 2rem;
  color: black;
  position: absolute;
  top: 30px;
  right: 375px;
}

.sign-in-form{
  background-color: white;
  width: 100%;
  max-width: 450px;
  height: fit-content;
  padding-top: 1rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
 
}

  .sign-in-form::-webkit-scrollbar {
    width: 3px;
  }

   .sign-in-form::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .sign-in-form::-webkit-scrollbar-thumb {
  background: rgb(181, 161, 145);
  
}

.close-mark{
  display: flex;
  flex-direction: row-reverse;
 border-bottom: 1px solid rgb(217, 219, 223);
 padding-left: 2rem;
 padding-right: 2rem;
padding-bottom: 1rem;
font-size: 0.875rem;
}



.form1{
padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 3rem;
}

.sign-in-form h1{
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
}

form{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 1.5rem
  
}

.email{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.email label{
  font-size: 1rem;
}

.email input{
  outline: none;
  border: 0.5px solid rgb(217, 219, 223);
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: transparent;
}

.email input::placeholder{
  font-size: 0.875rem;
  color: #999;
}

.password{
  display: flex;
  flex-direction: column;
  gap: 5px;
 position: relative;
}

.password label{
  font-size: 1rem;
}

.password input{
  outline: none;
  
  border: 0.5px solid rgb(217, 219, 223);
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.password input::placeholder{
  color: #999;
}

#toggle-password{
  position: absolute;
  top: 47px;
  right: 20px;
  color: rgb(181, 161, 145);
  
}

.password a{
  font-size:0.8rem;
  text-decoration: none;
  color: black; 
}

.sign-in{
  background-color: black;
  border: none;
 padding-top: 1rem;
 padding-bottom: 1rem;
 font-size: 1rem;
 color: white;
 transition: 0.3s ease;
 width: 100%;
 margin-top: 35px;
 font-weight: 600;
}

.sign-in:hover{
  background-color: rgb(32, 31, 31);
}

.paragraph{
  font-size: 0.675rem;
  text-align: center;
  padding-top: 1rem;
  color: #999;
}

.paragraph span{
  text-decoration: underline;
  color:#808080 ;
}

hr{
width: 100%;
 height: 0.5px !important;
 border: none;
 background-color: rgb(217, 219, 223);
 flex-shrink: 0;
}

.sign-up-link{
  display: flex;
  flex-direction: column;
  gap:20px ;
  padding-top: 2rem;
  padding-left:2rem ;
  padding-right: 2rem;
}

.sign-up-btn{
  background-color: transparent;
  border: 1px solid rgb(181, 161, 145);
 padding-top: 1rem;
 padding-bottom: 1rem;
 font-size: 1rem;
 color: white;
 transition: 0.3s ease;
 width: 100%;
 color: black;
 transition: 0.3s ease;
 font-weight: 600;
}

.sign-up-btn:hover{
  background-color: rgb(181, 161, 145);
  color: white;
}

.join{
  text-align: center;
  font-size: 1rem;
}

.join span{
  font-size: 1.2rem;
}

.required1{
  font-size: 0.875rem;
   color: #dc271e;
   display: none;
}

.required2{
  font-size: 0.875rem;
   color: #dc271e;
   display: none;
}

.sign-with-google{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(217, 219, 223);
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  color: black;
  width: 100%;
  font-weight: 600;
  background-color: transparent;
  margin-top: 1rem;
}

.sign-with-google img{
  width: 12%;
}



@media screen and (min-width:1024px) and (max-width:1280px) {
  .auth-overlay{
    padding-top: 2rem;
 }

 .sign-in-form{
  height: 100%;
  max-height: 560px;
  overflow-y: scroll;
 }

   .sign-in-form::-webkit-scrollbar {
    width: 3px;
  }

   .sign-in-form::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .sign-in-form::-webkit-scrollbar-thumb {
  background: rgb(181, 161, 145);
  
}
  
   
}


@media screen and (max-width:768px) {
  .sign-in-form{
    max-width: 100%;
    height: 100vh;
  }
  .auth-overlay{
    padding-top: 0rem;
  }
}


@media screen and (max-width:480px) {
  .form1{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .sign-up-link{
    padding-left: 1rem;
    padding-right: 1rem;
  }
}








