*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.025rem;
  line-height: 1.5rem;
  
}

.social-impact{
  height: fit-content;
  padding-top: 8rem;
  padding-bottom: 8rem;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.text{
  width: 35%;
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.text h1{
  font-size: 1.5rem;
  font-weight: 400;
}

.text p{
  font-size: 0.875rem;

}
.text span{
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 0.8rem;
  align-items: center;
  font-weight: 600;
}
.chevrons{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.chevrons i{
  font-size: 1rem;
}
.impacts{
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 100%;
  
  width: 65%;
  overflow: hidden;
}

.impact1{
  height: 500px;
 background-image: url(images/maasai-necklaces.jpg);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 width: 100%;
 
 overflow: hidden;
 position: relative;
 
}

.impact-text{
z-index: 1000;
color: white;
padding: 1rem;
display: flex;
flex-direction: column;
gap: 20px;
justify-content: center;
align-items: center;
height: 100%;
text-align: center;
position: relative;
opacity: 0;
}

.impact1:hover .impact-text{
  opacity: 1;
}

.impact2:hover .impact-text{
  opacity: 1;
}

.impact-text h1{
  font-size: 1.5rem;
  font-weight: 400;
}

.impact-text p{
  font-size: 0.875rem;
  font-weight: 400;
}

.read-more{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: transparent;
  border: 1px solid  rgb(181, 161, 145); 
  color: white;
  font-weight: 600;
  font-size: 0.875rem;
}

.read-more:hover{
  background-color: rgb(181, 161, 145) ;
}
.impact2{
 background-image: url(images/side-view-people-garage-sale.jpg);
  background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 width: 100%;
 height: 500px;
 overflow: hidden;
 position: relative;
}

   .impact1::before, .impact2::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            transition: opacity 0.5s ease;
            z-index: 1;
        }

        .impact1:hover::before, .impact2:hover::before{
            opacity: 1;
        }



@media screen and (max-width:768px) {
  .social-impact{
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 2rem;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    gap: 60px;

  }

  .impacts{
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }
  
  .text{
    align-items: start;
    padding-left: 0;
    width: 100%;
    
  }

  .text h1{
    text-align: center;
  }

  .text p{
    text-align: start;
  }
}


@media screen and (max-width:480px) {
  .social-impact{
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
