*{
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.025rem;
}

.team{
  display: flex;
  flex-direction: column;
  background-color: rgb(242, 239, 235);
  padding-top: 4rem;
  align-items: center;
}

.team h1{
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.team p{
  font-size: 1rem;
  padding-top: 1rem;
}

.team-section{
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 4rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 4rem;
}

.team1{
height: 500px;
width: 100%;
max-width: 400px;
background-color: white;
padding: 1rem ;
display: flex;
flex-direction: column;
}

.team1-image{
flex: 2;
background-image: url(images/Oromo.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

.team1-text{
flex: 1;
display: flex;
flex-direction: column;
align-items: center;
}

.team-name{
color: #EA580C;
}

.about-footer{
  display: flex;
  flex-direction: column;
 padding-top: 4rem;
 padding-bottom: 4rem;
 align-items: center;
}

.about-footer-box{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
  max-width: 700px;
  border: 1px solid #e5e3e3;
  align-items: center;
}
.about-footer-box h1{
  font-size: 1.5rem;
}

.about-footer-box p{
  font-size: 1rem;
  text-align: center;
  padding-top: 1.2rem;
}

.about-footer-buttons{
  padding-top: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  
}

.btn1{
  background-color: #1f6f43;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: 600;
  transition: 0.3s ease;
}
.btn1:hover{
background-color: #145a34;
}
.btn2{
  background-color: transparent;
  border: none;
  background-color: rgb(181,161,145);
  color: white;
   padding: 0.5rem 1rem;
  font-weight: 600;
   transition: 0.3s ease;
}

.btn3{
   background-color: transparent;
  border: 1px solid rgb(181,161,145);
   padding: 0.5rem 1rem;
  font-weight: 600;
  margin-top: 1.2rem;
   transition: 0.3s ease;
}

.btn3:hover{
  background-color: rgb(181,161,145);
  color: white;
}


@media screen and (min-width:1440px) {
  .team-section{
    padding-bottom: 5rem;
  }

  .about-footer-box{
    padding: 3rem;
    max-width: 800px;
  }
  .about-footer-box p{
    padding-top: 1.5rem;
  }
  .about-footer-buttons{
    padding-top: 1.8rem;
  }
  .team1{
    height: 700px;
    max-width: 500px;
  }
}